# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Environment variables (XAVFSIZLIK!)
.env
.env.local
.env.production
.env.*.local
.env.example
backend/.env
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/migrations/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
*.pem
