# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Environment variables (XAVFSIZLIK!)
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/migrations/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
*.pem
.backend